body {
    background-image: url('th.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: repeat;
    background-size: cover;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 30% 30%;
    }
}

.container {
    background-color: rgba(62, 67, 67, 0.6);
    margin-top: 230px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(239, 239, 242);
    padding: 20px;
}

h1 {
    color: #f416b9;
}



p {
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

input[type="file"] {
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    color: rgb(255, 255, 255);
}

button, .button {
    background-color: blue;
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
    transition: 0.3s ease;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: #2390ca;
}

img {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgb(202, 202, 204);
}

.error {
    color: rgb(33, 15, 197);
}
